<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162167045-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162167045-1');
    </script>

    <title> {{page.title}} </title>
    <meta name="description" content="{{page.description}}">
    <meta charset="utf-8">
    <script data-ad-client="ca-pub-5573581608002514" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDUD_XIEgnC9xih-rtwQty2PYMsLtbTTk0",
            authDomain: "nextjob-9bd0e.firebaseapp.com",
            databaseURL: "https://nextjob-9bd0e.firebaseio.com",
            projectId: "nextjob-9bd0e",
            storageBucket: "nextjob-9bd0e.appspot.com",
            messagingSenderId: "34617150596",
            appId: "1:34617150596:web:7d116a8889ea2d83c006d1",
            measurementId: "G-NRKM04FXY6"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

</head>

<body>

    <header >

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"> <img src="img/logo.png" width="109" alt="nextjob logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each menu.services}}
                            <a class="dropdown-item" href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each menu.company}}
                            <a class="dropdown-item" href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
          
               
              
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Web Guides
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each menu.notes}}
                            <a class="dropdown-item" href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
             <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Earn with Social Media
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each menu.careers}}
                            <a class="dropdown-item" href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Careers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             
                            <a class="dropdown-item" href="/contact">Send Your CV</a>
                          
                        </div>
                    </li>
          <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Legal
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#each menu.legal}}
                            <a class="dropdown-item" href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
